.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  color: #333;
  z-index: 999; /* Ensure the footer stays on top of other content */
}

.dark {
  background-color: #333;
  color: #f0f0f0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  margin: 0;
}

.theme-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-button:hover {
  background-color: #0056b3;
}
